{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{ background }}')">{{ title }}</section>
<h2>{{ title }} disponíveis para adoção</h2>
{{/banner}}

<h2 class="container 404">Página não encontrada :(</h2>

{{>partials/footer}}